mayos/memos/*
desktop.ini
/**/thumb.db
/.MEMOS
# .gitignore - File ignorer for Git
src/mayos/os/**/memos/*
**/desktop.ini
**/thumb.db
**/.git
**/.git/objects/**
**/.git/subtree-cache/**
**/.svn
**/.hg
**/.hg/store/**
**/CVS
**/.DS_Store
**/node_modules/*/**
**/.frontmatter/*/**
**/.vs/*/**
!**/.vs/**/CMakeWorkspaceSettings.*
!**/.vs/**/ProjectSettings.*
!**/.vs/**/VSWorkspaceState.*
**/.vscode/*
**/.env
!/src/.env
!.gitignore
!.gitattributes
frontmatter.json
